<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
 <!-- <display-name>msconvertee</display-name>
  <servlet>
      <description>MSConvertEE - web service interface to Proteowizard (proteowizard.sourceforge.net)</description>
      <servlet-name>msconvertee</servlet-name>
      <servlet-class>au.edu.unimelb.plantcell.servers.msconvertee.rest.servlet</servlet-class>
      <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>msconvertee</servlet-name>
      <url-pattern>/jaxrs/*</url-pattern>
  </servlet-mapping>
  -->
  
   <env-entry>
        <description>What is the msconvert executable path?</description>
        <env-entry-name>MSCONVERT_PATH</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>c:/Program Files (x86)/ProteoWizard/ProteoWizard 3.0.4416/msconvert.exe</env-entry-value>
   </env-entry>
      
   <env-entry>
        <description>Where do the jobs store their data? You should create the folder if necessary</description>
        <env-entry-name>MSCONVERT_TEMP_FOLDER</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>c:/temp/msconvert-out</env-entry-value>
   </env-entry>
      
   <env-entry>
        <description>Where is the command line usage for msconvert kept? (only used if MSCONVERT_PATH does not exist)</description>
        <env-entry-name>MSCONVERT_USAGE</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>c:/work/src/mascotee/msconvertee/test-data/msconvert.usage</env-entry-value>
   </env-entry>
</web-app>